<section class="relative md:py-24 py-16" id="questions-contact">
  <!-- <div class="container relative">
    <div class="grid grid-cols-1 text-center">
      <h2 class="text-4xl font-bold mb-2">{{ i18n "cta_title" }}</h2>
      <div class="my-6">
        <a href="{{ i18n "cta_contact_url" }}" title="{{ i18n "cta_contact_title" }}" class="py-2 px-5 md:py-3 md:px-6 inline-block font-semibold tracking-wide border align-middle duration-500 text-xl md:text-3xl text-center bg-blue-600 hover:bg-green-700 border-blue-600 hover:border-green-700 text-white rounded-md mt-2 mb-2"><i class="uil uil-phone"></i> {{ i18n "cta_button" }}</a>
      </div>
      <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">{{ i18n "cta_subtitle" }}</h3>
    </div>
  </div> -->
  <p>nuh uh</p>
</section>

